<% include ../layouts/header.ejs %>

<body>

<% include ../layouts/menu.ejs %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>EDIT POST.</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container">
    <div class="col-sm-2">
        <% include sidemenu.ejs %>
    </div>

    <div class="col-sm-10">
        <% if ( errors != '' ) {%>

        <ul class="alert alert-danger" role="alert">
            <% for (var key in errors[0]) { %>
            <li> <%= errors[0][key].msg %> </li>
            <% } %>
        </ul>

        <% } %>
        <% if (message != '') { %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
        <% } %>

        <form class="form-horizontal" action="/dashboard/posts/edit" method="post">
            <input  type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input  type="hidden" name="postID" value="<%= post._id %>">

            <div class="form-group">
                <label class="control-label col-sm-2"> Category: </label>
                <div class='col-sm-10'>
                    <select name="category" class="form-control" required>
                        <% for (var i = 0; i < categories.length; i++) { %>
                            <% if (JSON.stringify(post.sub_category.category) === JSON.stringify(categories[i]._id)) { %>
                                <option value="<%= categories[i]._id %>" selected="selected"> <%= categories[i].type %> </option>
                            <%} else { %>
                                <option value="<%= categories[i]._id %>"> <%= categories[i].type %> </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> Sub Category: </label>
                <div class='col-sm-10'>
                    <select name="subCategory" class="form-control" required>
                        <% for (var i = 0; i < categories.length; i++) { %>
                            <% if (JSON.stringify(post.sub_category.category) === JSON.stringify(categories[i]._id)) { %>
                                <% for (var j = 0; j < categories[i].sub_categories.length; j++) { %>
                                    <% if (JSON.stringify(post.sub_category._id) === JSON.stringify(categories[i].sub_categories[j]._id)) { %>
                                        <option value="<%= categories[i].sub_categories[j]._id %>" selected="selected"> <%= categories[i].sub_categories[j].type %> </option>
                                    <% } else { %>
                                        <option value="<%= categories[i].sub_categories[j]._id %>"> <%= categories[i].sub_categories[j].type %> </option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required placeholder="Title" name="title" <% if (oldInput != '') { %>
                                value="<%= oldInput[0].title %>"
                            <% } else { %>
                                value="<%= post.title %>"
                            <% } %> >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> Condition: </label>
                <div class='col-sm-3'>
                    <select name="condition" class="form-control" required>
                        <option value="new" <% if (post.condition == "new") { %> selected="selected" <% } %> >NEW</option>
                        <option value="mint" <% if (post.condition == "mint") { %> selected="selected" <% } %> >MINT</option>
                        <option value="used" <% if (post.condition == "used") { %> selected="selected" <% } %> >USED</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Pictures: </label>
                <div class="col-sm-10">
                    <% for (var i = 0; i < post.pictures_s.length; i++) { %>
                        <div style="position:relative;float:left;width:100px;">
                            <img src="<%= post.pictures_s[i] %>">
                            <span id="x" style="position:absolute;right:0;top:0;background:yellow" img-loc="<%= post.pictures_s[i] %>">
                                x
                            </span> 
                        </div>
                    <% } %>
                    <input type='hidden' value='<%= csrfToken %>' name="_csrf" id="csrf" />
                    <input type='hidden' value='<%= post.id %>' name="postId" id="postId" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Details</label>
                <div class="col-sm-10">
                    <%
                        var details = '';
                        if (oldInput != '')
                            details = oldInput[0].details;
                        else
                            details = post.description;
                    %>
                    <textarea type="text" class="form-control" rows="3" required placeholder="Details" name="details" ><%= details %></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" placeholder="Price" name="price" <% if (oldInput != '') { %>
                                    value="<%= oldInput[0].price %>"
                                <% } else { %>
                                    value="<%= post.price %>"
                                <% } %> >
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Location:</label>
                <div class="col-sm-3">
                    <select class="form-control" name="location" required="">
                        <% for (var i = 0; i < locations.length; i++) { %>
                            <% if (JSON.stringify(post.location) === JSON.stringify(locations[i]._id)) { %>
                                <option value="<%= locations[i]._id %>" selected="selected"> <%= locations[i].city.toUpperCase() %> </option>
                            <% } else { %>
                                <option value="<%= locations[i]._id %>"> <%= locations[i].city.toUpperCase() %> </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg pull-right">Update</button>
        </form>
    </div>
</div>


<% include ../layouts/footer.ejs %>