<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FATMAN.</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left form-inline" action="/search" method="get" id="search">
        
        <div class="input-group">

          <span class="input-group-btn">
            <select class="form-control selectpicker show-tick" name="location" id="location">
                <option value="">
                  All
                </option> 
              <% for (var i = 0; i < locations.length; i++) { 
                var selected = "default";
              %>
                <% if (typeof queries !== 'undefined' && queries.location == locations[i]._id) {
                  selected = "selected='selected'";
                } %>
                
                <option value="<%= locations[i]._id %>" <%= selected %> >
                  <%= locations[i].city %>
                </option>
              <% } %>
            </select>
          </span>

          <span class="input-group-btn">
            <input id="keyword" type="text" class="form-control" placeholder="Search..." name="keyword" <% if (typeof queries != 'undefined') { %> value="<%= queries.keyword %>"  <% } %>/>
          </span>
          
        </div>

        <input type="hidden" name="category" <% if (typeof queries != 'undefined') { %> value="<%= queries.category %>"  <% } %> id="category">
        <input type="hidden" name="sort" <% if (typeof queries != 'undefined') { %> value="<%= queries.sort %>" <% } %> id="sort">`
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="<% if (typeof about != 'undefined') { %> <%= about %> <% } %>"><a href="/development">DEVELOPMENT</a></li>
        <li class="<% if (typeof postPage != 'undefined') { %> <%= postPage %> <% } %>">  <a href="/post">POST</a>
        </li>

        <!-- display log in options -->
        <% if (isAuthenticated) { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.fname.toUpperCase() %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/posts">Dashboard</a></li>
              <li><a href="/authenticate/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="<% if (typeof login != 'undefined') { %> <%= login %> <% } %>">  <a href="/authenticate/login">LOG IN</a>
        <% } %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<%  
  //convert string to uppercase first letter. ex: "hello world" => "Hello World"
  String.prototype.capitalize = function(){
    return this.replace( /(^|\s)([a-z])/g , 
      function(m,p1,p2){ 
        return p1+p2.toUpperCase();
      } );
  };
%>