<% include layouts/header.ejs %>

<body>

<% include layouts/menu.ejs %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
		<div class="row">
			<h3>POST.</h3>
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
    <form class="form-horizontal" method="POST" action="/post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label class="control-label col-sm-2"> Category: </label>
        <label class="control-label col-sm-1"> SmartPhones </label>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Title: </label>
        <div class="col-sm-10">
          <input name="title" type="text" class="form-control" id="title" placeholder="Title" <% if (oldInput != '') { %> value="<%= oldInput[0].title %>" <% } %>>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Condition: </label>
        <div class="col-sm-10">
          <input name="title" type="text" class="form-control" id="title" placeholder="Condition" <% if (oldInput != '') { %> value="<%= oldInput[0].condition %>" <% } %>>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Photos: </label>
        <div class="col-sm-10">
          <input type='file' class="btn btn-default" value="Add Photos" />
          <p class="help-block">Add up to 12 photos.</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Details: </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Price: </label>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2"> Location: </label>
        <div class="col-sm-3">
          <select class="form-control">
            <option value="0">City</option>
            <% for (var i = 0; i < locations.length; i++) { %>
            	<% if (locations[i].city === 'phnom penh') { %>
            		<option value="<%= locations[i]._id %>" selected="selected"> <%= locations[i].city.toUpperCase() %> </option>
            	<% } else { %>
            		<option value="<%= locations[i]._id %>"> <%= locations[i].city.toUpperCase() %> </option>
            	<% } %>
            <% } %>
          </select>
        </div>
      </div>
    </form>
</div>

<% include layouts/footer.ejs %>