<% include layouts/header.ejs %>
<body>
<% include layouts/menu.ejs %>

<div id="blue">
    <div class="container">
      <div class="row">
        <h3>SEARCH</h3>
      </div><!-- /row -->
    </div> <!-- /conta -->
</div>

<div class="container">
  <div class="row filter">
    <label>Refine by:</label>
    
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only"> Category: </label>
          <div class="col-sm-4">
            <select class="form-control" name="category" id="selectCategory">
              <option value="">
                Category
              </option>
              <% for (var i = 0; i < categories.length; i++) { %>
                <optgroup label="<%= categories[i].type %>">
                  <% categories[i].sub_categories.forEach(function(subCat){ 
                    var selected = "";
                    if (typeof queries != 'undefined' && queries.category == subCat.id){
                      selected = "selected='selected'";
                    }
                  %>
                    <option value="<%= subCat.id %>" <%= selected %>><%= subCat.type %></option>  
                  <% }); %>
                </optgroup>
              <% } %>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only"> Sort </label>
          <div class="col-sm-4">
            <select class="form-control" name="sort" id="selectSort">
                <option value="">Sort</option>
                <option value="low" <% if (typeof queries != 'undefined' && queries.sort === 'low') { %> selected="selected" <% } %> >Price: Low to High</option>
                <option value="high" <% if (typeof queries != 'undefined' && queries.sort === 'high') { %> selected="selected" <% } %> >Price: High to Low</option>
                
                <option value="newest" <% if (typeof queries != 'undefined' && queries.sort === 'newest') { %> selected="selected" <% } %> >Date: newest</option>
                <option value="oldest" <% if (typeof queries != 'undefined' && queries.sort === 'oldest') { %> selected="selected" <% } %> >Date: oldest</option>
            </select>
          </div>
        </div>

      </form>
    
  </div>
</div>

 <div class='recent-post search'>
  <%  
    //convert string to uppercase first letter. ex: "hello world" => "Hello World"
    String.prototype.capitalize = function(){
      return this.replace( /(^|\s)([a-z])/g , 
        function(m,p1,p2){ 
          return p1+p2.toUpperCase();
        } );
    };
  %>
  <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth" : 300, "itemSelector" : ".post", "isFitWidth" : true, "gutter" : 10}'>
    <% for (var i = 0; i < posts.length; i++) { %>
      <div class="post">
        
          <a href="/display/<%= posts[i].id %>">
            <img src="<%= posts[i].pictures[0] %>" />
          </a>
          <div class="title"><%= posts[i].title %></div>
          <div class="price">$<%= posts[i].price %></div>
          <div class="location"><%= posts[i].location.city.capitalize() %></div>
          <div class="user"><%= posts[i].user.fname.capitalize() %></div>
        
      </div>
    <% } %>


  </div>
 </div>

<div class="container">
    <div class="col-sm-2 col-sm-offset-5">
      <button id="more" class="btn-lg btn-primary">More</button>
      <div id="lastPostsLoader"></div>
    </div>
</div>


<% include layouts/footer.ejs %>