<% include layouts/header.ejs %>
<body>
<% include layouts/menu.ejs %>

<div id="blue">
    <div class="container">
    <div class="row">
      <h3>SEARCH</h3>
    </div><!-- /row -->
    </div> <!-- /conta -->
</div>

<div class="container">
  <div class="row">
    <form class="form-horizontal pull-right col-sm-3" method="POST" action="/search">
      <div class="form-group">
        <label class="control-label col-sm-4"> Sort: </label>
        <div class="col-sm-8">
          <select class="form-control" name="sort">
              <option value="new">Relavance</option>
              <option value="mint">New and Popular</option>
              <option value="used">Price: Low to High</option>
              <option value="used">Price: High to Low</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="filter col-sm-2">
      <label> Categories: </label>
      <div>
        <% for (var i = 0; i < categories.length; i++) { %>
          <a href="#" class="list-group-item disabled"><%= categories[i].type %></a>  
          <% categories[i].sub_categories.forEach(function(subCat){ %>
            <a href="/search?cid" class="list-group-item">- <%= subCat.type %></a>  
          <% }); %>
        <% } %>
      </div>
    </div>

    <div class="items col-sm-10">

       <div class="">
        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth" : 150, "itemSelector" : ".post", "isFitWidth" : true }'>
          <% for (var i = 0; i < posts.length; i++) { %>
            <div class="post">
              <div class="post-wrapper">
                <a href="/display/<%= posts[i].id %>">
                  <img src="<%= posts[i].pictures[0] %>" />
                </a>
                <div class="title"><%= posts[i].title %></div>
                <div class="price">$<%= posts[i].price %></div>
                <div class="location left-align"><%= posts[i].location.city %></div>
                <div class="user left-align"><%= posts[i].user.fname %></div>
              </div>
            </div>
          <% } %>

    <div class="post">
      <div class="post-wrapper">
        <img src="/img/agency.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/browser.png" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/fat-man-cartoon.png" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/contact.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/cover.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/post01.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/agency.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/browser.png" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/fat-man-cartoon.png" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/contact.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/cover.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>
    <div class="post">
      <div class="post-wrapper">
        <img src="/img/post01.jpg" />
        <div class="title">This is agency</div>
        <div class="price">$100</div>
      </div>
    </div>


        </div>
       </div>

    </div>
  </div>
</div>

<% include layouts/footer.ejs %>